

body {
  background-image: url('https://pa1.narvii.com/6747/649d6b93875ee07b21ef208fbe72c87d3dbee838_hq.gif');
  background-repeat: no-repeat;
  background-size: 100% 110%;
  transition: background-image 1s;
}

.pokeball {
  height:200px;
  width: 200px;
  transition: transform 3s;
  padding: 50px;
}

/* body div {
  margin-top: 50px;
} */


.pokeball:hover {
  transform: rotate(2160deg);
}

.hidden {
  visibility: hidden;
}
