@import 'main.css';

#img {
  height:40px;
  width: 35px;
  float: right;
  margin: 5px;
}

#sprite {
  float: right;
  margin: 50px 80px 0px 70px;
}

#sprite img {
    height:300px;
    width: 300px;

}

#overlay {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.3em;
  background-color: rgb(149, 154, 149);
  border: 2px solid black;
  box-shadow: 2px 6px 20px 10px black;
  border-radius: 5px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 2px 6px 20px 5px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 2px 25px 20px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 2px 6px 20px 5px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#ll {
  background-color: rgb(149, 154, 149);
}

.col {
  color: black;
  margin: 1px;
}

.row {
  padding: 5px;
  margin-top:2px;
  margin-bottom: 2px;

}

#stats {
  font-size: 2.7em;
  font-weight: 700;
  color: white;
  background-color: rgb(25, 25, 25);
  border: 1px solid rgb(25, 25, 25);
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  margin: 0px 0 10px 0px;
  box-shadow: 1px 2px 5px 3px black;

}

%outer-most {
  border-radius: 5px;
  padding: 2px;
  margin: 5px 0 5px 2px;
}

%outer {
  border-radius: 5px;
  padding: 2px;
  height: 39px;
  width: 35%;
}

%inner {
  border-radius: 5px;
  padding: 0px 0px 0px 2px;
  width: 155px;

}

#def {
  @extend %outer-most;
  background-color: rgb(22, 229, 0);
  border: 1px solid  rgb(22, 229, 0);
  box-shadow: 1px 2px 10px 3px rgb(6, 100, 0);

}

#def1 {
  @extend %outer;
  background-color: rgb(6, 100, 0);
  border: 1px solid  rgb(6, 100, 0);
}

#def2 {
  @extend %inner;
  background-color: rgb(22, 229, 0);
  border: 1px solid  rgb(22, 229, 0);
}


#atk {
  @extend %outer-most;
  background-color: rgb(229, 29, 32);
  border: 1px solid rgb(229, 29, 32);
  box-shadow: 1px 2px 10px 3px rgb(127, 20, 0) ;
}

#atk1 {
  @extend %outer;
  background-color: rgb(127, 20, 0);
  border: 1px solid  rgb(127, 20, 0);
}

#atk2 {
  @extend %inner;
  background-color: rgb(229, 29, 32);
  border: 1px solid rgb(229, 29, 32);
}

#hp {
  @extend %outer-most;
  background-color: rgb(225, 130, 35);
  border: 1px solid  rgb(225, 130, 35);
  box-shadow: 1px 2px 10px 3px rgb(161, 82, 22);
}

#hp1 {
  @extend %outer;
  background-color: rgb(161, 82, 22);
  border: 1px solid  rgb(161, 82, 22);
}

#hp2 {
  @extend %inner;
  background-color: rgb(225, 130, 35) ;
  border: 1px solid  rgb(225, 130, 35);
}

#spdef {
  @extend %outer-most;
  background-color: rgb(255, 227, 0);
  border: 1px solid  rgb(255, 227, 0);
  box-shadow: 1px 2px 10px 3px rgb(161, 143, 0);
}

#spdef1 {
  @extend %outer;
  background-color: rgb(161, 143, 0);
  border: 1px solid  rgb(161, 143, 0);
}

#spdef2 {
  @extend %inner;
  background-color: rgb(255, 227, 0);
  border: 1px solid  rgb(255, 227, 0);
}

#spatk {
  @extend %outer-most;
  background-color: rgb(136, 0, 196);
  border: 1px solid  rgb(136, 0, 196);
  box-shadow: 1px 2px 10px 3px rgb(89, 0, 128)
}

#spatk1 {
  @extend %outer;
  background-color: rgb(89, 0, 128);
  border: 1px solid  rgb(89, 0, 128);
}

#spatk2 {
  @extend %inner;
  background-color: rgb(136, 0, 196);
  border: 1px solid  rgb(136, 0, 196);
}

#speed {
  @extend %outer-most;
  background-color: rgb(45, 77, 222);
  border: 1px solid  rgb(45, 77, 222);
  box-shadow: 1px 2px 10px 3px rgb(19, 34, 128);
}

#speed1 {
  @extend %outer;
  background-color: rgb(19, 34, 128);
  border: 1px solid  rgb(19, 34, 128);
}

#speed2 {
  @extend %inner;
  background-color: rgb(45, 77, 222);
  border: 1px solid  rgb(45, 77, 222);
}
